body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
  
}
.mr-t{
  margin-top: 10px;
}
.mr{
  margin: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container-escala{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.container-escala span{
font-size: 1.6rem;
color: rgb(252, 5, 108);
font-weight: bold;

}


.inputEscala{
  display: flex;
  flex-direction: column;
  width: 5%;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgb(243, 129, 218);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-bottom: 5px solid rgb(252, 5, 108);


}

.container-escala h4 {
  
  display:block;

  }

.inputData{
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgb(243, 129, 218);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-bottom: 5px solid rgb(252, 5, 108);

}
.heder{
  background-color: rgb(255, 62, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.resultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  color: rgb(252, 5, 108);
  font-weight: bold;
  

}
.folgas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.lista{
  display: flex;
  flex-grow: initial;
  flex-wrap: wrap;  
  list-style: none;
  
}
.lista li{  
  color: rgb(112, 1, 66);
  margin: 5px
}
.rodape{
  display: flex;
  height: 100px;
  background-color: rgb(255, 62, 197);
  color: white;
}
.rodape p{
  float: left;
  margin-left: 10px;
  
}
